/* HERO */
.light-section {
  background: var(--beige-light);
  padding: 3rem 2rem;
  text-align: center;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light-section h1 {
  font-family: var(--font-title);
  font-size: 2.7rem;
  color: var(--antracit);
  letter-spacing: 1.5px;
  margin-top: 0;
}

.light-section h2 {
  color: var(--antracit);
}

.light-section p {
  max-width: 650px;
  margin: 0 auto 2rem auto;
  font-size: 1.22rem;
  color: var(--antracit);
}

@media (max-width: 600px) {
  .light-section h1 {
    font-size: 1.5rem;
  }
}